# Virtual Environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask / local DB
instance/
*.sqlite3

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Node (if you add frontend tools later)
node_modules/

# Docker (optional)
*.pid
